# terraform
*.tfstate
*.tfstate.backup

# wireguard
*.conf
privatekey-*
publickey-*
presharedkey-*

# configs
terraform.tfvars
*.env
secrets.toml
secrets.nix

# encryption
lab.agekey
google-pki-data
!*.enc

# binary files
backups
.DS_Store
.terraform
