# terraform
*.tfstate
*.tfstate.backup

# wireguard
*.conf
privatekey-*
publickey-*
presharedkey-*

# configs
terraform.tfvars
*.env
config.json
*_SECRET
server/compose/auth/config/configuration.yml
server/compose/auth/config/users_database.yml
secrets.toml
secrets.nix

# encryption
infra.agekey
google-pki-data
!*.enc

# binary files
navidrome/data
navidrome/music
backups
.DS_Store
.idea
.terraform
