# terraform
*.tfstate
*.tfstate.backup
.terraform
terraform.tfvars

# secrets
*.env
*.conf
privatekey-*
publickey-*
presharedkey-*
secrets.toml
secrets.nix
lab.agekey
google-pki-data
!*.enc

# binary files
backups
.DS_Store
